.radio {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin: 7px;
    cursor: pointer;
}

.radio::before {

}


.radio:checked::before {

}

.label {
    display: flex;
}

.options {
}


/*.radio {*/
/*    appearance: none;*/
/*    height: 10px;*/
/*    width: 10px;*/
/*    cursor: pointer;*/
/*    border-radius: 50px;*/
/*    outline: none;*/
/*    background: #3a3bf5;*/
/*}*/
/*.radio:hover {*/
/*    border: 2px solid cornflowerblue;*/
/*}*/
/*.radio:checked {*/
/*    background: aqua;*/
/*}*/
/*.radio:focus {*/
/*    border: 2px solid cornflowerblue;*/
/*}*/
/*.label {*/
/*    cursor: pointer;*/
/*}*/
